.service_container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.flex_container_service {
  position: relative;
  z-index: 1;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column-reverse;
}

.flex_container_service img {
  width: 360px;
  height: 340px;
  margin-left: -3rem;
}

.flex_container_service ul li {
  color: #A1C9FF;
  text-align: left;
}

.flex_container_service figcaption > h3 {
  font-size: 1rem;
  color: #FFFBA1;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}

@media (min-width: 768px) {
  .flex_container_service img {
    width: 300px;
    height: 400px;
  }

  .flex_container_service figcaption {
    width: 50%;
  }

  .flex_container_service figcaption > h3 {
    font-size: 1.5rem;
    color: #FFFBA1;
    font-weight: 300;
    line-height: 1.6;
  }
}

@media (max-width: 767px) {
  .service_container {
    background-size: auto 150%; 
    background-position: left center; 
  }
}


@media (min-width: 1024px) {

  .service_container {
    max-width: 1275px;
    max-height: 608px;
    margin-top: 5rem;
  }
  .flex_container_service {
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .flex_container_service img {
    width: 600px;
    height: 550px;
  }

  .flex_container_service figcaption {
    width: 40%;
    padding-left: 5rem;
  }

  .flex_container_service figcaption > h3 {
    font-size: 2rem;
    color: #FFFBA1;
    font-weight: 300;
    line-height: 1.6;
  }
}