.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 0.3fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "first first fourth fourth fifth sixth"
      "first first sec sec third third";
    width: 1200px;
    height: 600px;
  }
  
 
  
  .first { grid-area: first; }
  .sec { grid-area: sec; }
  .third { grid-area: third; margin-left: 2rem; }
  .fifth { grid-area: fifth; }
  .sixth { grid-area: sixth; }
  .fourth { grid-area: fourth; }
  
 