.flex_container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  

  
  .flex_container img {
    width: 500px;
    height: 650px;
  }

  .flex_container ul li {
    color: #A1C9FF;
  }