.eco_container {
  max-width: 1275px;
  max-height: 608px;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.flex_container_eco {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .flex_container_eco img {
    width: 275px;
    height: 325px;
  }

  .flex_container_eco ul li {
    color: #A1C9FF;
    text-align: left;
  }

  .flex_container_eco figcaption > h3 {
    font-size: 1rem;
    color: #FFFBA1;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
  }

  @media (min-width: 768px) {
    .flex_container_eco img {
      width: 300px;
      height: 400px;
    }

    .flex_container_eco figcaption {
      width: 50%;
    }

    .flex_container_eco figcaption > h3 {
      font-size: 1.5rem;
      color: #FFFBA1;
      font-weight: 300;
      line-height: 1.6;
    }
  }

  @media (min-width: 1024px) {
    .flex_container_eco {
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    .flex_container_eco img {
      width: 500px;
      height: 650px;
    }

    .flex_container_eco figcaption {
      width: 40%;
      padding-left: 5rem;
    }

    .flex_container_eco figcaption > h3 {
      font-size: 2rem;
      color: #FFFBA1;
      font-weight: 300;
      line-height: 1.6;
    }
  }