.user_container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.flex_container_user {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.flex_container_user img {
  width: 460px;
  height: 420px;
  margin-left: -3rem;
}

.flex_container_user ul li {
  color: #A1C9FF;
  text-align: left;
}

.flex_container_user figcaption > h3 {
  font-size: 1rem;
  color: #FFFBA1;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}
@media (max-width: 767px) {
  .user_container {
    background-size: auto 150%; 
    background-position: left center; 
  }
}

@media (min-width: 768px) {
  .flex_container_user img {
    width: 300px;
    height: 400px;
  }

  .flex_container_user figcaption {
    width: 50%;
  }

  .flex_container_user figcaption > h3 {
    font-size: 1.5rem;
    color: #FFFBA1;
    font-weight: 300;
    line-height: 1.6;
  }
}

@media (min-width: 1024px) {
  .user_container {
    max-width: 1275px;
    max-height: 608px;
    margin-top: 5rem;
  }

  .flex_container_user {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .flex_container_user img {
    width: 600px;
    height: 550px;
  }

  .flex_container_user figcaption {
    width: 40%;
    padding-left: 5rem;
  }

  .flex_container_user figcaption > h3 {
    font-size: 2rem;
    color: #FFFBA1;
    font-weight: 300;
    line-height: 1.6;
  }
}