@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300,400,500,600,700,800,900&display=swap');

:root {
  --font-family-darker-grotesque: 'Darker Grotesque', sans-serif;
  --gradient-background: linear-gradient(to right, #C53293 -4.88%, #4990FB 90.05%);
  background-color: #010818;
  color: #fff;
}

body {
  font-family: var(--font-family-darker-grotesque);
}

main {
  margin: 0;
  position: relative;
  overflow: hidden;
}


.nav_bar_logo {
  position: fixed;
  top: 1rem;
  z-index: 100;
  padding: 1rem 0;
}
.nav_bar_logo_mobile {
  padding: 3rem 0 0 0;
  margin-bottom: -2rem;
}


.nav_btn {
  background: #4990FB;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  border: none;
}

.title {
  font-size: 3rem;
  color: white;
  background: linear-gradient(to right, #C53293 -24.88%, #4990FB 90.05%);
  
  background: -moz-linear-gradient(to right, #C53293 -24.88%, #4990FB 90.05%);
  
  background: -webkit-linear-gradient(to right, #C53293 -24.88%, #4990FB 90.05%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C53293", endColorstr="#4990FB", GradientType=1 );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  z-index: 1;
  animation: fadeInDown 1s ease-in-out;
}

.title_description {
  font-size: 0.825rem;
  color: #A1C9FF;
  font-weight: 300;
  position: relative;
  width: 70%;
  z-index: 1;
  margin-top: -2rem;
  margin-bottom: 2.5rem;
  line-height: 1.25rem;
  animation: fadeInDown 1s ease-in-out;
}

.donut {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-97%, -72%);
  z-index: -1;
  width: 100%;
  height: auto;
  max-width: 900px;
  scale: 0.9;
  animation: fadeInDonut 3s linear;
  mix-blend-mode: color-dodge;
}

.lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -33%);
  z-index: 0;
  width: 100%;
  height: auto;
  scale: 1;
  max-width: 900px;
  animation: fadeIn 3s ease-in-out;
}

.digital_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 900px;
  height: 900px;
  z-index: 2;
  margin: -5rem auto 0 auto;
}

.digital_menu_text{
  font-size: 1.5rem;
  color: #BFBFBF;
  font-weight: 300;
  width: 100%;
  margin: 2rem 0;
  animation: fadeInDown 1s ease-in-out;
}

.opacity {
  opacity: 0.5;
}

.mobile_Iphone {
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 400px;
  object-fit: cover; 
  animation: zoomIn 1s ease-in-out;
}

.image-container-topsection {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  margin-top: 1.5rem;
}

.image-container-topsection img {
  width: 110px;
  height: 110px;
  transition: transform 0.5s ease;
}

.image-container-topsection_text {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}


.zoomIn span {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDonut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation: fadeInDown 1s ease-in-out;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 0.75s ease-in-out;
}

.hide_mobile {
  display: block; 
}

.show_mobile {
  display: none; 
}

@media (max-width: 768px) {
  .hide_mobile {
    display: none;
  }
  
  .show_mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  main {
    margin: 2rem 15vw;
    position: relative;
    overflow: hidden;
  }
  .title{
    font-size: 5rem;
  }
  .title_description{
    font-size: 1.5rem;
  margin-top: -3rem;
  }
  .donut {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -90%);
    height: auto;
    max-width: 900px;
    scale: 1;
  }
}

