.flex_container_auto {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  

  
  .flex_container_auto img {
    width: 500px;
    height: 500px;
  }

  .flex_container_auto ul li {
    color: #A1C9FF;
  }